$contentpadding: 1rem;
$pagewidth: 1200px;

//colours
$black: #000000;
$white: #ffffff;
$primary: #2d717f;
$secondary: #f17323;
$button: #3d5e78;
$link: #087f99;
$gray: #545454;
$light-gray: #f1f1f1;

//box shadow
$bordershadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$bordershadowlight: 0.2px 0.2px 0 rgba(0, 0, 0, 0.2);

//fonts
$headline: "Poppins", sans-serif;
$subheadline: "Open Sans", sans-serif;
