$contentpadding: 1rem;
$pagewidth: 1200px;

//colours
$black: #000000;
$white: #ffffff;
$dark-blue: #3d5e78;
$primary: rgb(45, 113, 127);
$secondary: #c64d00;
$button: #3d5e78;
$link: #005c70;
$gray: #545454;
$red: #a80c0c;
$light-gray: #f1f1f1;

// btn hover shade
$hover-blue: #314c60;
$hover-orange: #9e3d00;
$hover-teal: #00495a;

//box shadow
$bordershadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

//fonts
$headline: "Poppins", sans-serif;
$subheadline: "Open Sans", sans-serif;
