$contentpadding: 1rem;
$pagewidth: 1200px;

//colours
$black: #000000;
$white: #ffffff;
$dark-blue: #3d5e78;
$primary: rgb(45, 113, 127);
$secondary: #953a00;
$button: #3d5e78;
$link: #005c70;
$gray: #545454;
$light-gray: #f1f1f1;

//box shadow
$bordershadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

//fonts
$headline: "Poppins", sans-serif;
$subheadline: "Open Sans", sans-serif;
