.accommodation-card {
  &__img > div:first-child {
    border-radius: 15px;
    width: 100%;
    height: 180px;
  }
  &__inner {
    display: flex;
    padding-top: $contentpadding / 2;
    margin-bottom: $contentpadding;
  }
  &__description {
    padding-bottom: $contentpadding;
    padding-top: $contentpadding/2;
  }
  &__link {
    text-align: center;
    padding: $contentpadding / 2;
    display: block;
    width: 120px;
    color: $white;
    background-color: $link;
    border-radius: 5px;
    font-size: 0.8em;
  }
  &__link:hover {
    background-color: $hover-teal;
  }

  &__price {
    font-family: $headline;
    color: $secondary;
    font-size: 1.8em;
  }
  &__price-text {
    font-family: $subheadline;
    font-size: 0.8em;
  }
  &__price-text--highlight {
    font-family: $headline;
  }
  &__info {
    padding-right: $contentpadding;
  }
}

@media screen and (min-width: 450px) {
  .accommodation-card {
    &__img > div:first-child {
      height: 250px;
    }
  }
}

@media screen and (min-width: 600px) {
  .accommodation-card {
    display: flex;
    &__img > div:first-child {
      height: auto;
      width: 200px;
    }
    &__img {
      padding: $contentpadding;
      padding-left: 0px;
    }
  }
}
