.card {
  background-color: $light-gray;
  margin: $contentpadding / 2;
  min-width: 100%;
  border-radius: 5px;
  box-shadow: $bordershadow;

  &__img {
    display: flex;
    max-height: 250px;
    min-height: 250px;
  }
  &__img > div:first-child {
    border-radius: 5px 5px 0px 0px;
  }
  &__info {
    padding: $contentpadding;
  }
  &__link {
    color: $link;
    margin: 0px;
    font-family: $headline;
    font-size: 1.2em;
    font-weight: bolder;
  }
  &__description {
    padding-top: $contentpadding;
    padding-bottom: $contentpadding;
    margin: 0px;
    font-family: $subheadline;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 400px) {
  .card {
    min-width: 350px;
  }
}
