.featured {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: $contentpadding;
  &__category {
    display: flex;
  }
  &__subheading {
    margin-left: 10px;
  }
  &__link {
    display: block;
    text-align: right;
    color: $link;
    font-weight: bold;
  }
  &__link--number {
    color: $gray;
  }
  &__cards {
    display: flex;
    overflow-x: auto;
  }
  &__subheading {
    font-family: $headline;
  }
  &__category {
    padding-top: $contentpadding;
    padding-bottom: $contentpadding;
  }
}
