.newsletter {
  padding: $contentpadding;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  &__heading {
    color: $secondary;
  }
  &__description {
    padding-top: $contentpadding;
    padding-bottom: $contentpadding;
  }
  &__input {
    width: 100%;
    border-radius: 15px;
    border: 0px;
    background-color: $light-gray;
    box-shadow: $bordershadow;
    padding: $contentpadding / 2;
    padding-left: $contentpadding;
    font-family: $subheadline;
  }
  &__btn {
    color: $white;
    border: 0px;
    box-shadow: $bordershadow;
    padding: $contentpadding/2;
    background-color: $button;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    right: 0 + $contentpadding;
    font-family: $subheadline;
  }
}

@media screen and (min-width: 400px) {
  .newsletter {
    &__subscription {
      max-width: 320px;
    }
    &__btn {
      left: 300px;
    }
  }
}
