.searchbox {
  background-image: url("../../public/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: $contentpadding * 2;
  padding-bottom: $contentpadding * 2;

  &__box {
    padding: $contentpadding;
    margin: $contentpadding/2;

    padding: $contentpadding / 2;
    background-color: $dark-blue;

    background: linear-gradient(
      93.19deg,
      #3d5e78 46.87%,
      rgba(255, 255, 255, 0.2) 100%
    );
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  &__subheadline {
    padding-bottom: $contentpadding/2;
    padding-top: $contentpadding/2;
  }
  &__img {
    position: absolute;
    padding: $contentpadding/2;
    width: 45px;
    margin-top: 3px;
  }
  &__results {
    margin-top: $contentpadding/4;
    position: absolute;
    width: calc(100% - 32px);
    z-index: 999;
  }
  &__result-btn {
    width: 100%;
    border: 0px;
    padding: $contentpadding/2;
    background-color: $white;
    border: 1px solid $light-gray;
    cursor: pointer;
  }
  &__result-btn:hover {
    width: 100%;
    border: 0px;
    padding: $contentpadding/2;
    background-color: $light-gray;
    border: 1px solid $light-gray;
  }
  &__search-results {
    width: 100%;
  }

  &__fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
  &__group {
    padding: $contentpadding/2;
  }
  &__input {
    padding: $contentpadding;
    padding-left: $contentpadding * 3;
    border-radius: 5px;
    border: 0px;
    width: 100%;
    font-family: $subheadline;
  }

  &__search {
    padding: $contentpadding;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &__img--search {
    margin-top: 5px;
  }
  &__group-type {
    font-size: 0.9em;
    font-family: $subheadline;
    color: $white;
    display: block;
    margin-bottom: 2px;
  }
  &__info-top {
    color: $white;
    padding: $contentpadding / 2;
  }
  &__submit {
    width: 100%;
    padding: $contentpadding;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 0px;
    color: $white;
    background-color: $secondary;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 400px) {
  .searchbox {
    &__submit {
      width: 50%;
    }
  }
}

@media screen and (min-width: 400px) {
  .searchbox {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__submit {
      width: 100%;
    }
    &__group {
      width: 50%;
    }
    &__group--search {
      width: 100%;
    }
    &__group--btn {
      padding-top: 27px;
    }
  }
}

@media screen and (min-width: 650px) {
  .searchbox {
    &__group {
      width: 33.33333%;
    }
    &__group--search {
      width: 66.66666%;
      order: 1;
    }
    &__results {
      width: calc(66.66666% - 27px);
    }
    &__group--btn {
      order: 2;
      padding-top: $contentpadding/2;
    }
    &__group--check-in {
      order: 3;
    }
    &__group--check-out {
      order: 4;
    }
    &__group--guests {
      order: 5;
    }
  }
}
@media screen and (min-width: 850px) {
  .searchbox {
    &__group {
      width: 25%;
    }
    &__group--search {
      width: 100%;
    }
    &__group--btn {
      padding-top: 27px;
      order: 6;
    }
    &__group--search {
      width: 75.1%;
    }
    &__results {
      width: calc(75.1% - 29px);
    }
  }
}

@media screen and (min-width: 1000px) {
  .searchbox {
    &__box {
      max-width: 1168px;
      margin-left: auto;
      margin-right: auto;
    }
    &__group {
      width: 20%;
    }
    &__group--search {
      width: 40%;
      padding-top: 27px;
    }
    &__group--btn {
      padding: $contentpadding/2;
      width: 170px;
    }
    &__info-top {
      padding-bottom: 0px;
    }
    &__subheadline {
      padding-bottom: 0px;
    }
    &__results {
      width: calc(40% - 23px);
    }
  }
}
