.nav-admin {
  background-color: $primary;

  &__inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    font-size: 1.3em;
    color: $white;
    font-family: $headline;
    padding: $contentpadding;
  }
  &__burger {
    border: 0px;
    padding: 0px;
    display: flex;
    margin: $contentpadding;

    background-color: transparent;
  }
  &__list {
    width: 100%;
    display: none;
    text-align: center;
    font-family: $headline;
    background-color: $white;
  }
  &__list--open {
    display: block;
  }
  &__btn {
    padding: $contentpadding;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
    font-family: $subheadline;
    width: 100%;
    background-color: $light-gray;
  }
  &__link {
    padding: $contentpadding;
    width: 100%;
    font-size: 1em;
    font-family: $subheadline;
    width: 100%;
    display: block;
    background-color: $light-gray;
    color: black;
  }
  &__link:hover {
    color: $white;
    background-color: $link;
  }
  &__btn:hover {
    color: $white;
    background-color: $link;
  }
}
