.AddEstablishment {
  &__heading {
    font-size: 1.6em;
    padding: $contentpadding/2;
    padding-top: $contentpadding;
  }
  &__wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: $contentpadding/2;
  }

  &__btn-wrapper {
    margin: $contentpadding/2;
    margin-bottom: $contentpadding;
  }
  &__btn {
    padding: $contentpadding;
    border: 0px;
    color: $white;
    background-color: $primary;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media screen and (min-width: 600px) {
  .AddEstablishment {
    background-color: $light-gray;
    padding: $contentpadding * 2;
    &__wrapper {
      padding: $contentpadding * 2;
      background-color: $white;
      padding-top: $contentpadding;
    }
    &__btn-wrapper {
      margin-top: $contentpadding * 2;
    }
  }
}
